<!DOCTYPE html>
<html>
<body>

<select id='tags' name='tags'>
</select>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/search.js"></script>

</html>