<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free responsive login template made with Bootstrap 3 create by easytousecode.com">
	<meta name="author" content="easytousecode.com">
	<title>Bootstrap login template Free </title>
	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet">
	<!-- font-awesome -->
	<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700" rel="stylesheet" type="text/css">
</head>

<body>
<header class="header">  
	<div class="container">       
		<div class="col-md-8"><a href=""><i class="fa fa-globe"></i> Language</a></div>
		<div class="col-md-4"><i class="fa fa-support"></i> 24/7 Support <stong>123-456-6789<stong></div>                  
	</div>
</header>

<div id="masthead">
	<div class="container">
		<div class="easy-login col-md-6 col-md-offset-3 pull-right">
			<h2 class="text-center"><strong>Easy Login</strong></h2>
			<div class="easy-body">    
				<form action="" method="post" role="form">
					<div class="form-group">
						<input name="username" class="form-control input-lg" placeholder="Username" required="" autofocus="" type="text">
					</div>

					<div class="form-group">
						<input name="password" class="form-control input-lg" placeholder="Password" required="" type="password">
					</div>
					<div class="form-group">
						<p>Forgot your password? <a href=""><strong>Click Here</strong></a></p>
					</div>

					<div class="row">
						<div class="col-md-6">
							<button class="btn btn-lg login-btn btn-block" type="submit" name="submit">Log In</button>
						</div>
						<div class="col-md-6">
							<button class="btn btn-lg btn-reset btn-block" type="reset" name="reset">Reset</button>
						</div>
					</div>
				</form>
				<div class="row social-login">
                    <h4 class="text-center">-or login with-</h4>
					<div class="col-md-12">
						<a href="" class="btn btn-lg btn-fb btn-block"><strong><i class="fa fa-facebook"></i></strong> Facebook </a>
					</div>
				</div>

			 </div><!-- /easy-body -->
		</div><!-- /easy-login -->
	</div> <!-- /container -->
</div> <!-- /masthead -->


<footer class="footer text-center">
	<div class="container">
		<div class="row">
			<p>Copyright ©  Your Website 2016 . All Rights Reserved</p>
		</div><!--/row-->
	</div><!--/container-->
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
